@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--background);
  }
}

@layer base {
  ::selection {
    background-color: #2f1d5b67;
    color: #121212;
  }
}
