@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--background);
  }
}
